*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner{
    max-height: 40rem;
}


#carritos{
    margin-top: 30px;
    
}

@media screen and (max-width: 576px) {
    #carritos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}

.container-info{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    margin: 40px;
    border-top-width: 40px;
    
 }
 .info-card{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
 }
 .imagen_info img{
    max-width: 100%;
 }

 .info{
    
 }
