*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner{
    max-height: 40rem;
}


#carritos{
    margin-top: 30px;
    
}

@media screen and (max-width: 576px) {
    #carritos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}
